


:root{
    --main: #0A1172;
    --secondary: #FF6F61;
    --ternary: #f8dbb3;
    --button:#f8dbb3;
    --text: black;
    
}



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
    
html,body{
   
    font-size: 16px;
    background-color: var(--main);
    font-family:"Montserrat Alternates", sans-serif;
}
    



nav{
    z-index:2;
    position:fixed;
    width:100%;
    top:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--ternary);
    padding:20px 40px;;
    font-size: 1.8rem;
}
nav div{
    cursor: pointer;
}
nav img{
    position:relative;
    text-align: center;
    width:120px;
    transform: translateX(-30px);
}


nav > :nth-child(2){
    text-align: center;
}


nav > :nth-child(4){
    position:relative;
}
nav >:nth-child(4) a:hover + #projects{
    transform: scaleY(1);
    opacity:1;
}

#projects:hover{
    transform: scaleY(1);
    opacity:1;
}



nav > :nth-child(4) a:hover + #projects ul{
    opacity:1;
}
nav > :nth-child(4) a:not(:hover) + #projects ul{
    opacity:1;  
}

nav > :nth-child(4) a p{
   margin:0;
   text-align: center;
}
nav .left-right{
    background:linear-gradient(to left,  var(--ternary) 50%,  var(--secondary) 50%) right;
    background-size: 201%;
    text-decoration: none;
    color:black;
    border-radius: 35px;
    padding:15px;
    transition:all 0.35s ease 0.1s;

}

nav .left-right:hover{
    background-position: left;
}


#projects {
    opacity:0;
    overflow:hidden;
    width:300px;
    position:absolute;
    background-color: var(--secondary);
    left:-50px;
    padding:15px 15px 15px 15px;
    top:55px;
    border-radius: 35px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s ease 0.1s, opacity 0.30s ease 0.1s;
}
#projects ul{
    opacity:0;
    display:inline-block;
    list-style: none;
    transition:all 0.5s ease 0.1s;
}
#projects li{
    margin-bottom:30px;
    
}
#projects li a:hover{
    
    color:white;
}
#projects li a{
    color:black;
    text-decoration: none;
    transition:all 0.25s ease;
}
#project-button:hover{
    cursor: pointer;
}

#settings {
    cursor:pointer;
}
.settings-menu{
    
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:50%;
    height: 600px;
    background-color:#0f0f0f;
    z-index: 3;
    padding:30px;
    border-radius: 15px;
    border:none;
    outline: none;
}

.settings-menu[open]:not(.closing) {
    animation: rollIn 0.3s ease-out;
}
.settings-menu.closing {
    animation: rollOut 0.3s ease-out;
    animation-fill-mode: forwards;
}

@keyframes rollIn {
    0%{
        
        left:-150%;
    }
    100%{
     
        left:50%;
    }
}
@keyframes rollOut {
    0%{
        display:block;
        left:50%;
    }
    100%{
        left:-150%;
        display:none;
    }
}
.settings-menu .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top:30%;
    transform: translateY(-30%);
}
.settings-menu h2{
    color:white;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 3rem;
}
.option{
    border-radius:15px;
    width:150px;   
    height:150px;
    border:2px solid #0f0f0f;
    transition: all 0.1s;
    cursor: pointer;
}
.option:hover{
    border:2px solid white;
}

.option.bo{
     background-image: linear-gradient(45deg,#0A1172 50%, #FF6F61 51%);
}
.option.wb {
    background-image: linear-gradient(45deg, #f8dbb3 50%, #FF6F61 51%);
}
.option.bp{
    background-image: linear-gradient(45deg, #2F3C7E 50%, #FBEAEB 50%);
}
.settings-menu .exit{
    position:absolute;
    width: 20px;
    height: 20px;
    top:15px;
    right:15px;
    display:inline-block;
    padding:15px;
    color:white;
    border: 1px solid #0f0f0f;
    transition: all 0.2s linear;
    cursor: pointer;
    border-radius: 5px;
}
.settings-menu .exit p{
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
.settings-menu .exit:hover {
    border: 1px solid white;
}

.settings-menu::backdrop{
   backdrop-filter: blur(10px);
}
@keyframes blurIn {
    0%{
        backdrop-filter: blur(0px);
        
    }
    100%{
        backdrop-filter: blur(10px);
    }
}

main{
    position:relative;
    top:200px;
}
main h3{
    font-size: 10vw;
    color:var(--ternary);
}
.banner{
    width:70%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0 auto;
}
.name-banner{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:45%;
}
.potrait-banner{
    background-color: var(--ternary);
    width:45%;
    border-radius: 30px;
    display:flex;
    padding:15px;
    flex-direction: row;
    align-items: center;

}
.potrait-banner img{
    
    width:100%;
    height:auto;
    border-radius: 30px ;
    margin:0 auto;
}
.center{
    margin-left:-85px;
    text-align: center;
}
.right{
    text-align:right;
}




.skills{
    margin-top:40px;
    position:relative;
    height:550px;
    width:100%;

}
.bubble{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:12vw;
    height:12vw;
    padding:15px;
    border-radius: 50%;
    background-color: var(--secondary);
    transition: all 0.3s linear;
    position:absolute;
    z-index: 1;
    

}
.bubble1{
    left:150px;
    top:80px;
}

.bubble2{
    top:300px;
    left:25%;
}

.bubble3{
    top:100px;
    left:80%;
}



.button{
    margin-top:15px;
    background:linear-gradient(to left,  var(--secondary) 50%,  var(--button) 50%) right;
    background-size: 200%;
    padding:12px;
    cursor: pointer;
    display:inline-block;
    border-radius: 15px;
    transition: all 0.2s ease-in;
}
.button:hover{
    background-position: left;
}

.bubble-transform{
    left:50%;
    transform:translate(-50%);
    top:0;
    width:100%; 
    height:100%;
    z-index:2;
    border-radius: 0;
    justify-content: space-between;
}





.bubble .content{
    width:0;
    height:0;
    animation:vanish 0.5s;
    display:none;
    
}
.bubble .content-transform{
    margin-top:15px;
    animation:appear 0.72s;
    width:50%;
    height:100%;
    display:block;
  
}

.skills-banner{
    font-size: 2.4rem;
    color:var(--ternary);
    position:absolute;
    left:50%;
    top:5%;
    transform:rotate(-30deg);;
}
.skills-banner h2{
    color:var(--secondary);
}
.skills-banner span{
    color:var(--ternary);
}


@keyframes appear{
    0%{
        height:0;
        width:0;
        opacity:0;
    }
    50%{
        display:block;
        height:100%;
        width:100%;
        
    }
    100%{
        opacity:1;
        
    }
}
@keyframes vanish{
    0%{
        display:block;
        height:100%;
        width:100%;
        opacity:0;
    }
    50%{
        display:none;
        height:0;
        width:0;
        
    }
    100%{
        height:0;
        widht:0;
        opacity:0;
        display:none;
      
    }
}


.projects-section{
    margin-top:150px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 40px;
    margin-bottom: 150px;
}
.projects-section .container{
    width:80%;
    padding:30px;
    border-radius: 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.projects-section img{
    width:60%;   
    height: auto;
}
.projects-section .content{
    width:35%;
    background-color: var(--ternary);
    padding:40px;
    border-radius: 15px;
    color:var(--text);
    line-height: 1.5rem;

}
.projects-section h2{
    font-size: 4rem;
    color:var(--ternary);
}
footer{
    text-align: center;
    background-color: var(--ternary);
    padding:30px;
    font-weight: bold;
}



@media only screen and (max-width: 600px)
{
    nav img {
        width:40px;
        transform: translateX(0);
    }
    nav{
        font-size: 0.6rem;
    }
    .banner{
        margin:0;
        display:flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .center{
        margin-left: -30px;
    }
    .potrait-banner{
        padding:3px;
    }
    .skills{
         display:flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-between;
         height:auto;
         row-gap: 40px;
    }
    .bubble{
        position:static;
        width:50vw;
        height: 50vw;
        
    }
    .skills-banner{
        position:static;
        font-size: 1.5rem;
        margin-bottom: 40px;
    }
    .bubble-transform{
        transform:none;
        width:100%;
        height:600px;
    }
    .skills .content{
        font-size: 1rem;
    }
    .bubble .content-transform{
    margin-top:15px;
    animation:appear 0.72s;
    width:90%;
    height:100%;
    display:block;
    line-height: 1.4rem;
    }
    .projects-section h2{
        font-size: 2rem;
    }
    .projects-section .container{
        flex-direction: column;
        width:90%;
        row-gap: 30px;
    }
    .projects-section .container .content{
        width:100%;
    }
    .projects-section .container img{
        width:100%;
    }
    .settings-menu{
        width:80%;
    }
    .settings-menu .option{
        width:80px;
        height:80px;
    }
   
    #projects{
        transition: transform 0.5s ease 0.1s, opacity 0.30s ease 0.1s;
        font-size: 1rem;
    }
    .left-right{
        transition: none;
    }
}
  

   

